# Java
*.class
*.jar
*.war
*.ear

# Eclipse / IntelliJ / VS Code
*.log
*.iml
.idea/
.vscode/
.classpath
.project
.settings/

# OS Files
.DS_Store
Thumbs.db

# Build directories
/bin/
/build/
/out/
target/
